/* line 17, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 12px;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 31, ../sass/public.scss */
html,
body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.3em;
  /*font-family: sans-serif;*/
  font-weight: 300;
  background: black;
  color: white;
  height: 100%;
  font-family: 'Inconsolata', sans-serif;
}

/* line 43, ../sass/public.scss */
#wrapper {
  min-height: 100%;
  position: relative;
}

/* line 50, ../sass/public.scss */
p,
form,
fieldset,
h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

/* line 55, ../sass/public.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1em;
}

/* line 58, ../sass/public.scss */
p {
  padding-bottom: 1em;
}

/* line 61, ../sass/public.scss */
a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}
/* line 65, ../sass/public.scss */
a:hover {
  color: #666666;
}

/* line 69, ../sass/public.scss */
.clearer {
  clear: both;
}

/* line 72, ../sass/public.scss */
input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*STYLE*/
/* line 79, ../sass/public.scss */
.wrapperAll {
  padding: 10px;
}

/*FORMS*/
/* line 84, ../sass/public.scss */
.form {
  width: 49.5%;
  float: left;
}
/* line 87, ../sass/public.scss */
.form .formIns {
  padding: 20px;
}
/* line 90, ../sass/public.scss */
.form h2 {
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 10px;
}
/* line 95, ../sass/public.scss */
.form .sliderSection {
  padding-bottom: 40px;
}
/* line 97, ../sass/public.scss */
.form .sliderSection h3 {
  font-size: 0.8em;
  padding-bottom: 15px;
}
/* line 100, ../sass/public.scss */
.form .sliderSection h3 strong {
  font-size: 1.2em;
  font-weight: bold;
}
/* line 106, ../sass/public.scss */
.form .sidomeImage {
  padding-bottom: 0px;
}
/* line 109, ../sass/public.scss */
.form .sidomeImage .sidomeImageIns canvas {
  width: 40%;
  height: 40%;
  margin: auto;
  background: black;
  display: block;
  z-index: 3;
  top:0;
}

/*SLIDER*/
/* line 121, ../sass/public.scss */
.ui-slider {
  position: relative;
  text-align: left;
  background: #bebfc1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

/* line 127, ../sass/public.scss */
.ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 0.7em;
  height: 0.7em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
  background: white;
  border: 1px solid #bebfc1;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}

/* line 140, ../sass/public.scss */
.ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
  background: #a32121;
}

/* line 151, ../sass/public.scss */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

/* line 155, ../sass/public.scss */
.ui-slider-horizontal {
  height: .1em;
}

/* line 158, ../sass/public.scss */
.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em;
}

/* line 162, ../sass/public.scss */
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

/* line 166, ../sass/public.scss */
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

/* line 169, ../sass/public.scss */
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

/* line 173, ../sass/public.scss */
.ui-slider-vertical {
  width: .8em;
  height: 100px;
}

/* line 177, ../sass/public.scss */
.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}

/* line 182, ../sass/public.scss */
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}

/* line 186, ../sass/public.scss */
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}

/* line 189, ../sass/public.scss */
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

/*BUTTONS*/
/* line 194, ../sass/public.scss */
.buttons {
  padding-top: 15px;
}
/* line 196, ../sass/public.scss */
.buttons .buttonsIns {
  width: 80%;
  margin: auto;
}
/* line 200, ../sass/public.scss */
.buttons .button {
  width: 30%;
  padding: 2%;
  border: 3px solid white;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
/* line 208, ../sass/public.scss */
.buttons .button:hover {
  background: white;
  color: black;
}
/* line 213, ../sass/public.scss */
.buttons .buttonRestart {
  float: left;
}
/* line 216, ../sass/public.scss */
.buttons .buttonStop {
  margin: 0 auto;
  font-size: 20px;
}

.buttons .go {
  margin: 0 auto;
  font-size: 20px;
  width:15%;
}

.custom{
	width:50% !important;
	border-radius:0 !important;
	height:5px !important;
  float:center;
}

.custom::-webkit-slider-thumb{
	background:#fff !important;
}

.remerciement, .bienvenue{
	/*float:bottom;*/
	
  
  width:100%;
  text-align: center;
  display: inline-block;
}

.formIns{
  display:none;
}

.remerciement{
  display:none;
}

.wrapperAll, .forms, #bodyFrame, .form{
  height: 100%;
  
}

body{
  margin-left: 0 !important;
}

.bienvenue input{
  float : top;
}

.remerciement h1 {
  padding-bottom: 20px;
}

.bienvenue h1 {
    font-size: 25px;
  }

  .bienvenue h1 b{
    font-size: 35px;
    padding-bottom: 10px;
  }

.bienvenue {
  padding-top:15%;
}

.haut{
  z-index: 1;
  font-size: 0px; line-height: 0%; width:0px;
  margin:auto;
border-bottom: 50px solid #fff;/* couleur du triangle*/
border-left: 40px solid transparent; 
border-right: 40px solid transparent; 
}

.bas{
  z-index: 1;
  margin:auto;
  width:20px;
  border-bottom: 300px solid #fff;
  border-left: 0px solid transparent; 
border-right: 0px solid transparent; 
}

.form1 .formIns, .form1, .remerciement1{
  border-right: 1px solid #fff;
}

.form2 .formIns, .remerciement2, .form2 {
  border-left: 1px solid #fff;
}

.gauche{
  float:left;
  width:24%;
  text-align:center;
  left:0;
}

.droite{
  float:right;
  width:24%;
  right:0;
  text-align:center;
}

.formIns .welcome{
  float:left;
}

.bienvenue canvas, .remerciement canvas{
  width: 55%;
}

input[type="range"]::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
    background:#000 !important;
    border: 4px solid #fff;
}

.sliderSectionIns h2{
  text-align:center;
  padding-top: 20px;
}